<div class="text-center mr-5 mt-3">
<div class="d-inline-block text-left">
<h1 class=>Welcome to
<span class=><%= icon("fas", "book", "Bookers!!") %></span></h1>
<p class=>In<span class="font-weight-bold"><%= icon("fas", "book", "Bookers,") %></span></p>
<p class=>you can share and exchange your opinions , inpressions , and emotions</p>
<p class=>about various books!</p>
</div>
</div>
<div class="text-center">
<%= link_to "Log in", new_user_session_path, class: "btn btn-info w-50" %>
</div><br>
<div class="text-center">
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success w-50" %>
</div>
